<header>
  <h1>{{header}}</h1>
</header>
<article>
  <p>{{name}}
    was born in
    {{location.city}},
    {{location.state}},
    {{location.country}}. He started climbing and a very young age and started
    doing free solos because he was more afraid to talk with another person than
    to climb alone without any rope.</p>
</article>
<picture>
  <img src={{picture}} alt='Picture' />
</picture>